<div class=" head-title">
        <h4 class="display-4 ">
                <img src="../assets/img/quinnox2.png" class="headerlogo">&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                &nbsp;
                &nbsp;
                &nbsp;Quinnox Asset Department</h4>
        <h6 style="text-align: center;">you demand we fulfill^_^</h6>
        
</div>

<body>
        <router-outlet></router-outlet>  
        
</body>

<footer>
        <p style="color: darkgray;">CREATED BY: KUMAR AYUSH<br>
        <a href="kr.ayush383ssnl@gmail.com">email:kr.ayush383ssnl@gmail.com</a></p>
      </footer>
